@model BRASS.Models.RoutePoints

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoutePoints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lattitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lattitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
