@model IEnumerable<BRASS.Models.Drivers>

@{
    ViewData["Title"] = "Index";
}

<h2>Drivers</h2>

<div class="row col-lg-12" style="margin-top:1%">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="col-lg-12" style="overflow-y:auto;overflow-x:visible;max-height:70vh">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>(555) 555-5555</td>
                                <td>@Html.DisplayFor(modelItem => item.StartAddress)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartCity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Condition)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Create", "Drivers")'"> Create New </button>
        </p>
    </div>
</div>
<style>
    .container {
        max-width: 100vw
    }

    table {
        vertical-align: middle;
        text-align: center
    }

    th {
        padding: 2rem 0.5rem !important;
        white-space: nowrap !important;
    }

    #AddDriver #UpdateDriver {
        margin: 0% 10%
    }
</style>
